<header>
    <nav>
        <a href="/" class="brand-logo">PuckaBlog</a>
        <ul>
            <li><a href="/blog">Blogs</a></li>
            <li><a href="/about">About</a></li>
            <li><a href="/new-blog">New Blog</a></li>
        </ul>
    </nav>
</header>