<%- include('./partials/head.ejs') %>
<body>
    <%- include('./partials/nav.ejs') %>
    <section>
        <h1 class="title">OPS - Page not found</h1>
    </section>
    <%- include('./partials/footer') %>
</body>
</html>