<%- include('./partials/head.ejs') %>
<body>
    <%- include('./partials/nav.ejs') %>
    <section>
        <h1 class="title">About me</h1>
        <h3>I am Solaiman Shadin - <a href="https://shadin.netlify.app/">Know More About me</a> </h3>
    </section>
    <%- include('./partials/footer') %>
</body>
</html>